<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="./lib/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- 1. 监听到文本框数据改变 -->
      <input type="text" v-model="firstname" /> +
      <input type="text" v-model="mainname" /> +
      <input type="text" v-model="lastname" /> =
      <input type="text" v-model="fullname" />
      <p>{{ fullname }}</p>
      <p>{{ fullname }}</p>

      <p>{{ fullname }}</p>

      <p>{{ fullname }}</p>
    </div>
    <script>
      // 创建 Vue 实例，得到 ViewModel
      var vm = new Vue({
        el: "#app",
        data: {
          firstname: "",
          lastname: "",
          mainname: ""
        },
        methods: {},
        computed: {
          // 在 computed 中，可以定义一些属性，这些属性，叫做 计算属性
          // 计算属性本质是一个方法，只不过我们在使用这些属性的时候，是把它们的名称，直接当作属性来使用
          // 并不会把计算属性当作方法去调用

          // 注意1：计算属性，在引用的时候一定不要加()去调用，直接把它当作普通属性去使用
          // 注意2：只要计算属性，这个function 内部所用到的任何data中的数据发生了变化
          //       就会立即重新计算 这个 计算属性的值
          // 注意3: 计算属性的求值结果，会被缓存起来，方便下次直接使用，如果计算属性方法中
          //        所依赖的任何数据，都没发生过变化，则不会重新对 计算属性重新求值
          fullname: function() {
            console.log("ok");
            return this.firstname + "-" + this.mainname + "-" + this.lastname;
          }
        }
      });
    </script>
  </body>
</html>
